// Define variables for the base size and the amount to scale by
$base-font-size: 1rem; // or 16px, etc.
$heading-scale: 0.5rem; // Amount each heading level decreases by from h1 to h6

// Mixin to generate heading sizes
@mixin generate-headings($base-size: 3.5rem, $step: 0.5rem) {
    @for $i from 1 through 6 {
        h#{$i} {
            // Calculation: starts at base-size for h1, subtracts step for each level
            font-size: $base-size - ($step * ($i - 1));


            +*:not(.post-meta) {
                margin-top: $base-size + ($step - 1.5rem);
            }

            p+& {
                margin-top: $base-size + ($step + 0.5rem);
            }
        }
    }
}

// Usage
@include generate-headings(2.5rem, .6rem);

//    Base Typography Styles
$line-height: 1.6;
$link-color: #3b82f6;

/* Tailwind's blue-500 */
body {
    font-size: $base-font-size;
    line-height: $line-height;
    color: #111827;
    /* Tailwind's gray-900 */
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
}

/*-- Paragraphs and Links --*/
p {
    margin-bottom: 1em;
    /* Space between paragraphs, don't use both indents and space */
}