// Define variables for the base size and the amount to scale by
$base-font-size: 1rem; // or 16px, etc.
$heading-scale: 0.5rem; // Amount each heading level decreases by from h1 to h6

// Mixin to generate heading sizes
@mixin generate-headings($base-size: 3.5rem, $step: 0.5rem) {
    @for $i from 1 through 6 {
        h#{$i} {
            // Calculation: starts at base-size for h1, subtracts step for each level
            font-size: $base-size - ($step * ($i - 1));


            // +*:not(.post-meta) {
            //     margin-top: $base-size + ($step - 1.5rem);
            // }

            // p+& {
            //     margin-top: $base-size + ($step + 0.5rem);
            // }
            *+& {
                margin-top: $base-size - ($step * ($i - 2.5)) !important;
            }
        }
    }
}

// Usage
@include generate-headings(2.5rem, .6rem);

//    Base Typography Styles
$line-height: 1.6;
$link-color: #3b82f6;

/* Tailwind's blue-500 */
body {
    font-size: $base-font-size;
    line-height: $line-height;
    color: #111827;
    /* Tailwind's gray-900 */
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
}

/*-- Paragraphs and Links --*/


#main {
    .post-single-page {
        a {
            color: $link-color;

            &:hover {
                text-decoration: underline;
                color: darken($link-color, 10%);

            }
        }

        *+* {
            margin-top: 1.25rem;
        }

        .wp-block-list {
            list-style-type: circle;
            padding-left: 2.5rem;

            li {
                margin-top: 0.5rem;

                &:hover {
                    list-style: disc;
                }
            }
        }

        blockquote {
            border-left: 4px solid #d1d5db;
            /* Tailwind's gray-300 */
            padding: 1rem;
            color: #6b7280;
            /* Tailwind's gray-500 */
            font-style: italic;
        }

        .wp-block-group {
            background-color: #fffbeb;
            border-radius: 0.50rem;
            padding: .25rem .75rem;
            border: 1px solid #fbbf24;
            font-size: .85rem;
            box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
            color: #78350f;

            *+* {
                margin-top: .5rem;
            }

            p:first-child {
                margin-bottom: .75rem;
                margin-left: -0.75rem;
                font-size: $base-font-size;
                border-left: 5px solid #fbbf24;
                padding-left: calc(.75rem - 5px);
                font-weight: 600;
                color: #92400e;
                border-radius: .5rem 0 0 0;
                margin-top: -.25rem;
            }
        }
    }
}